html {
    font-size: 12px;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0.8333rem;
    background: #f1f1f1;
}                       

h1 {
    font-family: "Inconsolata";
    font-size: 4.1667rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin: 2.0938rem 0rem;
}

h2 {
    font-family: "Inconsolata";
    font-size: 1.8rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

h3 {
    font-family: "Inconsolata";
    font-size: 1.6rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

h5 {
    font-family: "Inconsolata";
    font-size: 1.2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}


p {
    font-family: "Inconsolata";
    font-size: 1.3333rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    margin: 1.3333rem 0rem;
}

.header {
    text-align: center;
    padding: 2.5rem;
    background: white;
}

.footer {
    padding: 1.6667rem;
    text-align: center;
    background: #ddd;
    margin-top: 1.6667rem;
  }

.topnav {
    background: #333;
    overflow: hidden;
    line-height: 3.8333rem;
}

a {
    font-family: "Inconsolata";
    font-size: 1.3333rem;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.1667rem 1.3333rem;
    line-height: 2rem;
}

a:hover {
    background-color: #ddd;
    color: black;
  }

.img {
    background-color: #aaa;
    width: 100%;
    padding: 1.6667rem;
    font-size: 1.3333rem;
    font-family: "Inconsolata";

}

.card {
    background-color: white;
    padding: 1.6667rem;
    margin-top: 1.6667rem;
}

   
* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

@media all and (max-width: 60rem) {

    html {
        font-size: 16px;
    }

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}